In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

In [2]:
df = pd.read_csv('nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [3]:


# Group by Position and calculate summary statistics for Salary
salary_summary = df.groupby('Position')['Salary'].agg(
    mean='mean',
    median='median',
    min='min',
    max='max',
    std='std'
)

# Display the summary statistics
print(salary_summary)

                  mean     median       min         max           std
Position
C         5.967052e+06  3811060.0   83397.0  22359364.0  5.787989e+06
PF        4.562483e+06  2943221.0  111444.0  22192730.0  4.800054e+06
PG        5.077829e+06  3018463.5   55722.0  21468695.0  5.051809e+06
SF        4.857393e+06  2020540.0   30888.0  25000000.0  6.011889e+06
SG        4.009861e+06  2127840.0   55722.0  20000000.0  4.491609e+06

In [4]:
df2 = pd.read_csv('Iris.csv')
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:


# Step 2: Filter the data by species
species_list = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
df_filtered = df2[df2['Species'].isin(species_list)]


# # Step 3: Exclude 'Id' and calculate statistical details (mean, standard deviation, percentiles, etc.)

print("For sepal length = ")
statistics = df_filtered.groupby('Species')['SepalLengthCm'].describe(percentiles=[.25, .5, .75])


# Step 4: Display the statistics
print(statistics) 

print("For sepal Width = ")
statistics = df_filtered.groupby('Species')['SepalWidthCm'].describe(percentiles=[.25, .5, .75])

# Step 4: Display the statistics
print(statistics)

print("For petal length = ")
statistics = df_filtered.groupby('Species')['PetalLengthCm'].describe(percentiles=[.25, .5, .75])

# Step 4: Display the statistics
print(statistics)

print("For petal Width = ")
statistics = df_filtered.groupby('Species')['PetalWidthCm'].describe(percentiles=[.25, .5, .75])


# Step 4: Display the statistics
print(statistics)

For sepal length =
                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9
For sepal Width =
                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8
For petal length =
                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9
For petal Width =
                 count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa       50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [6]:

# Optionally, if you want to display specific statistics, you can do:
for species in species_list:
    print(f"Statistics for {species}:")
    species_data = df_filtered[df_filtered['Species'] == species]
    print(f"Mean:\n{species_data.mean()}")
    print(f"Standard Deviation:\n{species_data.std()}")
    print(f"25th Percentile (Q1):\n{species_data.quantile(0.25)}")
    print(f"50th Percentile (Median):\n{species_data.median()}")
    print(f"75th Percentile (Q3):\n{species_data.quantile(0.75)}")
    print("-" * 50)

Statistics for Iris-setosa:

TypeError: Could not convert ['Iris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosaIris-setosa'] to numeric