In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('melb_data.csv')

data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
#missing values
missing_values = data.isnull().sum()

In [5]:
#summary statistics
data_summary = data.describe()

#dimensions of df
data_dimensions = data.shape

In [6]:
print("Missing Values:\n", missing_values)
print("\nSummary Statistics:\n", data_summary)
print("\nDimensions of the DataFrame:", data_dimensions)

Missing Values:
 Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

Summary Statistics:
               Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

Dimensions of the DataFrame: (13580, 21)

In [7]:
variables_info = data.info()

print("\nVariables and Types:\n", variables_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

Variables and Types:
 None

In [8]:
#data types
data_types = data.dtypes

print("\nData Types:\n", data_types)

Data Types:
 Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [9]:
#normalization
numeric_columns = data.select_dtypes(include=[np.number]).columns
data[numeric_columns] = (data[numeric_columns] - data[numeric_columns].min()) / (data[numeric_columns].max() - data[numeric_columns].min())

print("\nNormalized Data (First Rows):\n", data.head())

Normalized Data (First Rows):
        Suburb           Address     Rooms Type     Price Method SellerG  \
0  Abbotsford      85 Turner St  0.111111    h  0.156478      S  Biggin
1  Abbotsford   25 Bloomburg St  0.111111    h  0.106562      S  Biggin
2  Abbotsford      5 Charles St  0.222222    h  0.154795     SP  Biggin
3  Abbotsford  40 Federation La  0.222222    h  0.085810     PI  Biggin
4  Abbotsford       55a Park St  0.333333    h  0.169938     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016  0.051975  0.068577  ...     0.125  0.1  0.000466           NaN
1  4/02/2016  0.051975  0.068577  ...     0.125  0.0  0.000360      0.001775
2  4/03/2017  0.051975  0.068577  ...     0.250  0.0  0.000309      0.003370
3  4/03/2017  0.051975  0.068577  ...     0.250  0.1  0.000217           NaN
4  4/06/2016  0.051975  0.068577  ...     0.125  0.2  0.000277      0.003190

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  0.494755    0.517651  Northern Metropolitan
1   0.856448        Yarra  0.484031    0.513083  Northern Metropolitan
2   0.856448        Yarra  0.482223    0.513997  Northern Metropolitan
3        NaN        Yarra  0.498243    0.516281  Northern Metropolitan
4   0.995134        Yarra  0.484936    0.513723  Northern Metropolitan

  Propertycount
0       0.17616
1       0.17616
2       0.17616
3       0.17616
4       0.17616

[5 rows x 21 columns]

In [10]:
# categorical -> dummy
categorical_columns = data.select_dtypes(include=['object']).columns
data_encoded = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

print("\nData after Encoding Categorical Variables:\n", data_encoded.head())

Data after Encoding Categorical Variables:
       Rooms     Price  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
0  0.111111  0.156478  0.051975  0.068577      0.10     0.125  0.1  0.000466
1  0.111111  0.106562  0.051975  0.068577      0.10     0.125  0.0  0.000360
2  0.222222  0.154795  0.051975  0.068577      0.15     0.250  0.0  0.000309
3  0.222222  0.085810  0.051975  0.068577      0.15     0.250  0.1  0.000217
4  0.333333  0.169938  0.051975  0.068577      0.15     0.125  0.2  0.000277

   BuildingArea  YearBuilt  ...  CouncilArea_Wyndham  CouncilArea_Yarra  \
0           NaN        NaN  ...                False               True
1      0.001775   0.856448  ...                False               True
2      0.003370   0.856448  ...                False               True
3           NaN        NaN  ...                False               True
4      0.003190   0.995134  ...                False               True

   CouncilArea_Yarra Ranges  Regionname_Eastern Victoria  \
0                     False                        False
1                     False                        False
2                     False                        False
3                     False                        False
4                     False                        False

   Regionname_Northern Metropolitan  Regionname_Northern Victoria  \
0                              True                         False
1                              True                         False
2                              True                         False
3                              True                         False
4                              True                         False

   Regionname_South-Eastern Metropolitan  Regionname_Southern Metropolitan  \
0                                  False                             False
1                                  False                             False
2                                  False                             False
3                                  False                             False
4                                  False                             False

   Regionname_Western Metropolitan  Regionname_Western Victoria
0                            False                        False
1                            False                        False
2                            False                        False
3                            False                        False
4                            False                        False

[5 rows x 14072 columns]

In [11]:
# categorical cplumn
categorical_columns = data.select_dtypes(include=['object']).columns
print("Categorical Columns:", categorical_columns)

Categorical Columns: Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [12]:
from sklearn.preprocessing import LabelEncoder

#label ENcoding ->categorical column
label_encoder = LabelEncoder()
data['Regionname_LabelEncoded'] = label_encoder.fit_transform(data['Regionname'])

# Display the original and encoded columns
print(data[['Regionname', 'Regionname_LabelEncoded']].head())

              Regionname  Regionname_LabelEncoded
0  Northern Metropolitan                        2
1  Northern Metropolitan                        2
2  Northern Metropolitan                        2
3  Northern Metropolitan                        2
4  Northern Metropolitan                        2

In [13]:
from sklearn.preprocessing import OneHotEncoder

# AOnehot encoding
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')  #avoid multicollinearity by dropping the first category
regionname_encoded = one_hot_encoder.fit_transform(data[['Regionname']])

#encoded reult -> dataframe
regionname_encoded_df = pd.DataFrame(regionname_encoded, columns=one_hot_encoder.get_feature_names_out(['Regionname']))

#concat new columns to df
data_one_hot = pd.concat([data, regionname_encoded_df], axis=1)

print(regionname_encoded_df.head())

   Regionname_Eastern Victoria  Regionname_Northern Metropolitan  \
0                          0.0                               1.0
1                          0.0                               1.0
2                          0.0                               1.0
3                          0.0                               1.0
4                          0.0                               1.0

   Regionname_Northern Victoria  Regionname_South-Eastern Metropolitan  \
0                           0.0                                    0.0
1                           0.0                                    0.0
2                           0.0                                    0.0
3                           0.0                                    0.0
4                           0.0                                    0.0

   Regionname_Southern Metropolitan  Regionname_Western Metropolitan  \
0                               0.0                              0.0
1                               0.0                              0.0
2                               0.0                              0.0
3                               0.0                              0.0
4                               0.0                              0.0

   Regionname_Western Victoria
0                          0.0
1                          0.0
2                          0.0
3                          0.0
4                          0.0

/home/fe/.local/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
#Dummy Coding 
data_dummy_coded = pd.get_dummies(data, columns=['Regionname'], drop_first=True)

print(data_dummy_coded.head())

       Suburb           Address     Rooms Type     Price Method SellerG  \
0  Abbotsford      85 Turner St  0.111111    h  0.156478      S  Biggin
1  Abbotsford   25 Bloomburg St  0.111111    h  0.106562      S  Biggin
2  Abbotsford      5 Charles St  0.222222    h  0.154795     SP  Biggin
3  Abbotsford  40 Federation La  0.222222    h  0.085810     PI  Biggin
4  Abbotsford       55a Park St  0.333333    h  0.169938     VB  Nelson

        Date  Distance  Postcode  ...  Longtitude  Propertycount  \
0  3/12/2016  0.051975  0.068577  ...    0.517651        0.17616
1  4/02/2016  0.051975  0.068577  ...    0.513083        0.17616
2  4/03/2017  0.051975  0.068577  ...    0.513997        0.17616
3  4/03/2017  0.051975  0.068577  ...    0.516281        0.17616
4  4/06/2016  0.051975  0.068577  ...    0.513723        0.17616

   Regionname_LabelEncoded  Regionname_Eastern Victoria  \
0                        2                        False
1                        2                        False
2                        2                        False
3                        2                        False
4                        2                        False

   Regionname_Northern Metropolitan  Regionname_Northern Victoria  \
0                              True                         False
1                              True                         False
2                              True                         False
3                              True                         False
4                              True                         False

  Regionname_South-Eastern Metropolitan  Regionname_Southern Metropolitan  \
0                                 False                             False
1                                 False                             False
2                                 False                             False
3                                 False                             False
4                                 False                             False

   Regionname_Western Metropolitan  Regionname_Western Victoria
0                            False                        False
1                            False                        False
2                            False                        False
3                            False                        False
4                            False                        False

[5 rows x 28 columns]