In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv("Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [55]:
df.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [56]:
#To calculate mean
df.select_dtypes(include='number').mean()

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

In [57]:
df.loc[:,'Age'].mean()

38.85

In [58]:
df.select_dtypes(include = 'number').mean(axis = 1)[0:4]

0    18.50
1    29.75
2    11.25
3    30.00
dtype: float64

In [59]:
#To find median
df.select_dtypes(include = 'number').median()

CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [60]:
df.loc[:,'Age'].median()

36.0

In [61]:
df.select_dtypes(include='number').mevdian(axis =1)[0:4]

0    17.0
1    18.0
2    11.0
3    19.5
dtype: float64

In [62]:
df.loc[:,'Age'].mode()

0    32
Name: Age, dtype: int64

In [63]:
#To find minimum of all columns

df.min()

CustomerID                     1
Genre                     Female
Age                           18
Annual Income (k$)            15
Spending Score (1-100)         1
dtype: object

In [64]:
#To find maximum
df.max()

CustomerID                 200
Genre                     Male
Age                         70
Annual Income (k$)         137
Spending Score (1-100)      99
dtype: object

In [65]:
#To find standard deviation
df.loc[:,'Age'].std()

13.96900733155888

In [66]:
df.select_dtypes(include = 'number').std(axis = 1)[0:4]

0    15.695010
1    35.074920
2     8.057088
3    32.300671
dtype: float64

In [67]:
#Categorical : Age
#Quantative : Income

df.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [68]:
df_u = df.rename(columns= {'Annual Income (k$)':'Income'},inplace = False)

df_u.groupby(['Genre']).Income.mean()

Genre
Female    59.250000
Male      62.227273
Name: Income, dtype: float64

In [71]:
df.groupby(['Genre']) ['Annual Income (k$)'].max()

Genre
Female    126
Male      137
Name: Annual Income (k$), dtype: int64

In [74]:
df.groupby(['Genre']) ['Annual Income (k$)'].min()

Genre
Female    16
Male      15
Name: Annual Income (k$), dtype: int64

In [72]:
df.groupby(['Genre']) ['Spending Score (1-100)'].max()

Genre
Female    99
Male      97
Name: Spending Score (1-100), dtype: int64

In [73]:
df.groupby(['Genre']) ['Spending Score (1-100)'].min()

Genre
Female    5
Male      1
Name: Spending Score (1-100), dtype: int64